<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Site Blog</h1>
    <div th:each="el : ${posts}" class=" alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p><b>Views:</b> <span th:text="${el.views}"/></p>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-secondary">More details</a>
    </div>
    <footer th:insert="Blocks/footer :: footer"></footer>
</body>
</html>