<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit State</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Edit State</h1>
    <div th:each="el : ${post}">
    <form method="post">
        <input type="text" th:value="${el.title}" name="title"  class="form-control">
        <br>
        <textarea  name="fullText"   class="form-control" th:text="${el.fullText}"/>
        <br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    </div>
</div>
<footer th:insert="Blocks/footer :: footer"></footer>
</body>
</html>