<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <div>
        <div th:each="el : ${posts}" class=" alert alert-info mt-2">
            <h3 th:text="${el.title}"/>
            <p th:text = "${el.fullText}"/>
            <p><b>Views:</b><span th:text="' ' + ${el.views}"/></p>
            <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-info">Edit</a>
            <br>
            <br>
            <form th:action="'/blog/' +${el.id} + '/remove'" method="post">
            <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<footer th:insert="Blocks/footer :: footer"></footer>
</body>
</html>