<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: header"></header>
<main>

    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Notat</h1>
                <p class="lead text-muted">It's new view at notes and new opportunity for people in the  word
                with their thoughts and records</p>
            </div>
        </div>
<!--        <img src="images/notebook.jpg">-->
        <img src="https://image.freepik.com/free-photo/plant-pencil-near-notebook_23-2147768867.jpg">
    </section>

</main>
</body>
</html>