<div th:fragment = "footer">
    <div class="text-muted py-5 bg-grey">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        </div>
    </div>
</div>