<div th:fragment = "header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-grey border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal">Notat</p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/home">Home</a>
            <a class="p-2 text-dark" href="/blog">Blog</a>
            <a class="p-2 text-dark" href="/blog/add">New Post</a>
        </nav>
    </div>
</div>

